body{
    background-image: url(img/azul.png);
    overflow: hidden; /* Deshabilita el desplazamiento vertical */
}
.titulo{
    margin-left: 22%;
    margin-bottom: 2%;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    background-image: url(img/cel.png);
    background-size: cover;
    border: 5px solid rgb(0, 0, 0);
    width: 300px;
    background-repeat: no-repeat;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 20%;
    max-height: 550px; /* Ajusta esta altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede la altura máxima */
}

/* Ocultar la barra de desplazamiento vertical */
.container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer y Edge */
}

.container::-webkit-scrollbar {
    display: none; /* Google Chrome y Safari */
}

form {
    background-size: contain; /* Ajusta el tamaño para que la imagen se ajuste completamente */
    background-repeat: no-repeat;
    padding: 20px; /* Añade espacio alrededor de los campos */
    border-radius: 10px; /* Añade bordes redondeados */
    color: white; /* Cambia el color del texto para mayor legibilidad */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra al texto para mejor contraste */
    max-width: 100%;
    max-height: 100%;
}



.logo{
    width: 125px;
    left: 46%;
    position: relative;
}
/* .fondo{
    background-image: url(cel.png);
    position: absolute;
    max-width: 100%;
    max-height: 100%;
} */

h5{
    color: black;
    
}

.foncon{
    background-color: #e9e9e9;
}

.form-control {
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    font-size: 0.85rem; /* Ajusta el tamaño de fuente */
    border-radius: 0.25rem; /* Ajusta el radio de los bordes */
}

/* Aplicar estilos solo a los selects (departamento y municipio) */
select.form-select {
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    font-size: 0.85rem; /* Ajusta el tamaño de fuente */
    border-radius: 0.25rem; /* Ajusta el radio de los bordes */
}


.f_titulo{
    color: #0057d1;
    @font-face {
        font-family: 'Cronos Regular';
        src: url('tigo.otf');
    }

}
/* Agrega esta parte al final de tu archivo style.css o dentro de la etiqueta <style> en tu archivo HTML */
.arriba {
    position: sticky;
    top: 0;
    background-color: #2106b6;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.encabezado-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px; /* Agrega margen inferior para hacerlo más largo */
}

.titulo {
    color: white;
    font-size: 24px;
    margin: 0; /* Elimina el margen predeterminado del título */
}

.boton-enviar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-enviar:hover {
    background-color: #0056b3;
}

form [required]::after {
    content: " *";
    color: red;
}
h5{
    font-size: 12px;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    z-index: 9999;
}

.custom-alert-content {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.custom-alert-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}




